#custom-form-width.card
  h3.p-3.text-center.m-0 Log In
  form.p-3.needs-validation(
    method='POST',
    action='/authentication/log-in',
    novalidate
  )
    .mb-3
      input#username.form-control(
        type='text',
        placeholder='Username',
        name='username',
        required,
        value=values.username
      )
      .invalid-feedback Username is required
    .mb-3
      input#password.form-control(
        type='password',
        placeholder='Password',
        name='password',
        aria-describedby='password-feedback',
        required
      )
      #password-feedback.invalid-feedback Password must contain at least 8 character, one lowercase letter, one uppercase letter, one number, and one special character
    .mb-3
      button.btn.btn-dark.w-100(type=submit) Log In
    .mb-3
      p.text-center If you are not a member you can <a class='link-info' href="/authentication/sign-up">Sign Up</a>
