- const createReducer = (name) => (prev, curr) => (curr.path === name ? 'is-invalid' : '');
#custom-form-width.card
  h3.p-3.text-center.m-0 Sign Up
  form.p-3.needs-validation(
    method='POST',
    action='/authentication/sign-up',
    novalidate
  )
    .mb-3
      input#username.form-control(
        type='text',
        placeholder='User Name',
        name='username',
        required,
        value=values.username
      )
      .invalid-feedback Username is required
    .mb-3
      input#firstname.form-control(
        type='text',
        placeholder='First Name',
        name='firstname',
        required,
        value=values.firstname
      )
      .invalid-feedback First name is required
    .mb-3
      input#lastName.form-control(
        type='text',
        placeholder='Last Name',
        name='lastname',
        required,
        value=values.lastname
      )
      .invalid-feedback Last name is required
    .mb-3
      input#email.form-control(
        type='email',
        placeholder='Email',
        name='email',
        required,
        value=values.email
      )
      .invalid-feedback Please enter a valid email
    .mb-3
      input#password.form-control(
        type='password',
        placeholder='Password',
        name='password',
        aria-describedby='password-feedback',
        required
      )
      #password-feedback.invalid-feedback Password must contain at least 8 character, one lowercase letter, one uppercase letter, one number, and one special character
    .mb-3
      input#confirmPassword.form-control(
        type='password',
        placeholder='Confirm Password',
        name='confirmPassword',
        required,
        aria-describedby='confirmPassword-feedback'
      )
      #confirmPassword-feedback.invalid-feedback Passwords does not match
    .mb-3
      button.btn.btn-primary.w-100(type=submit) Sign up
